{% extends 'partials/base.html' %}
{% block title %}Post Detail Page{% endblock %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url}}" alt="profile-img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                            {% if post.author == request.user %}
                            <span><a href="{% url 'blog-post-delete' post.id %}" class="btn btn-danger float-right btn-sm">Delete</a></span>
                            <span><a href="{% url 'blog-post-edit' post.id %}" class="btn btn-success mx-2 float-right btn-sm">Edit</a></span>
                            {% endif %}                
                            <hr>
                            <h4>{{ post.title}}</h4>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header btn-sm">
                            <a href="" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              Comments: {{ post.comment_count }}
                            </a>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div style="height: 250px; overflow-y: scroll;" class="accordion-body">
                                {% for comment in post.comments %}
                                <p class="text-justify">
                                    {{ comment.content }}
                                </p>
                                {% endfor %}
                            </div>
                          </div>
                          <form action="" method="POST">
                            {% csrf_token %}
                            {{ c_form }}
                            <input class="btn btn-success btn-sm" type="submit" value="Comment">
                          </form>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

{% endblock %}
