{% extends 'partials/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %} 
{% crispy form %} 
{% block content %}
<div class="container-fluid bg-cover">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-5 offset-md-4">
        <div class="card my-2 shadow">
          <div class="card-body">
            <h3>Login Page</h3>
            <hr/>
            <form class="d-grid gap-2" method="POST">
              {% csrf_token %} 
              {{ form }}
              <input class="btn btn-secondary" type="submit" value="Login"/>
            </form>
            <hr />
            <div class="text-center">
              <a href="{% url 'password_reset' %}">Forgot Password</a>
            </div>
            <hr />
            <div class="text-center">
              <a href="{% url 'users-sign-up' %}" class="btn btn-success">Creat An Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
