{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete Page{% endblock %}
{% load crispy_forms_tags %} 
{% crispy form %} 
{% block content %}

  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-8 offset-md-2">
        <div class="card my-2 shadow">
          <div class="card-body">
                <h3>Password Reset Complete Page</h3>
                <hr>
                <div class="alert alert-info">
                    Your password reset is successful. Login with new credentials.
                </div>
                <a class="btn btn-secondary" href="{% url 'users-login' %}">Login</a>           
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
